<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\static\bootstrap-4.5.3-dist\css\bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
  <header class="masthead mb-auto cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="list">藏書清單</a>
        <a class="nav-link" href="addpage">新增書籍</a>
      </nav>
    </div>
  </header>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1>書本新增</h1>
      <form action="addpage" method="POST">{% csrf_token %}
        　ISBN：<input type="text" class="form-control" name="ISBN"><br>
        　<input type="submit" value="新增">
        </form>
    </div>
  </section>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>Album example is © Bootstrap, but please download and customize it for yourself!</p>
    <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>
  </div>
</footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script>
  function removefun(ISBN) {
    document.getElementById("demo").style.color = "red";
  }
  </script>
</body>
</html>